<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Angela's Table</h1>
        <p class="lead">We Have Canada's Best Selection of Unique Charcuterie Boards - Prepared Fresh for You and Those
            You
            Love!.</p>
    </div>
    <div class="card-deck mb-3 text-center justify-content-center">
        <div *ngFor="let product of products" class="card mb-3 shadow-sm" style="min-width: 18rem; width:350px; max-width: 350px;">
            <img class="card-img-top" src="{{product.imageUrl}}" alt="Card image" style="width:100%">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <p class="card-text">{{product.description}}</p>
                <!-- <a (click)="addProductToCart(product)>Add to Cart</a> -->

                <button (click)="addProductToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>